[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "fonts/powerlist-fonts"]
	path = fonts/powerlist-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "zsh/plugins/yeoman"]
	path = zsh/plugins/yeoman
	url = https://github.com/edouard-lopez/yeoman-zsh-plugin.git
[submodule "code/Dropbox-Uploader"]
	path = code/Dropbox-Uploader
	url = https://github.com/andreafabrizi/Dropbox-Uploader.git
[submodule "zsh/plugins/grunt-zsh-completion"]
	path = zsh/plugins/grunt-zsh-completion
	url = https://github.com/yonchu/grunt-zsh-completion
