[submodule "fonts/powerlist-fonts"]
	path = fonts/powerlist-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "code/Dropbox-Uploader"]
	path = code/Dropbox-Uploader
	url = https://github.com/andreafabrizi/Dropbox-Uploader.git
[submodule "fonts/ia-fonts"]
	path = /Users/kuntau/dotfiles/fonts/ia-fonts
	url = https://github.com/iaolo/iA-Fonts.git
[submodule "fonts/operator-mono"]
	path = fonts/operator-mono
	url = https://github.com/kuntau/coding-fonts.git
