(
    block_title_focused: None,
    cmdbar_bg: Some(Rgb(36, 40, 44)),
    cmdbar_extra_lines_bg: Some(Rgb(46, 52, 64)),
    command_fg: Some(Rgb(163, 190, 140)),
    commit_author: Some(Rgb(148, 155, 165)),
    commit_hash: Some(Rgb(255, 202, 67)),
    commit_time: Some(Rgb(176, 190, 197)),
    danger_fg: Some(Rgb(225, 115, 115)),
    diff_file_added: Some(Rgb(235, 203, 139)),
    diff_file_modified: Some(Rgb(180, 142, 173)),
    diff_file_moved: Some(Rgb(94, 129, 172)),
    diff_file_removed: Some(Rgb(208, 135, 112)),
    diff_line_add: Some(Rgb(136, 192, 208)),
    diff_line_delete: Some(Rgb(191, 97, 106)),
    disabled_fg: Some(Rgb(75, 82, 99)),
    line_break: Some("¶"),
    push_gauge_bg: Some(Rgb(80, 121, 190)),
    push_gauge_fg: None,
    selected_tab: Some(Rgb(163, 190, 140)),
    selection_bg: Some(Rgb(42, 42, 55)),
    selection_fg: None,
    tag_fg: None,
    branch_fg: None,
)
