(
    block_title_focused: Some("#E6E9EF"),
    cmdbar_bg: Some("#24282C"),
    cmdbar_extra_lines_bg: Some("#8839ef"),
    command_fg: Some("#83C857"),
    commit_author: Some("#949BA5"),
    commit_hash: Some("#FFCA43"),
    commit_time: Some("#B0BEC5"),
    danger_fg: Some("#FF7373"),
    // diff_file_added: Some("#EBCB8B"),
    // diff_file_modified: Some("#B48EAD"),
    // diff_file_moved: Some("#5E81AC"),
    // diff_file_removed: Some("#D08770"),
    // diff_line_add: Some("#88C0D0"),
    // diff_line_delete: Some("#C0616A"),
    disabled_fg: Some("#4B5263"),
    line_break: Some("¶"),
    push_gauge_bg: Some("#528b2e"),
    push_gauge_fg: Some("#E6E9EF"),
    selected_tab: Some("#83C857"),
    selection_bg: Some("#528b2e"),
    selection_fg: Some("#E6E9EF"),
    tag_fg: Some("#8839ef"),
    branch_fg: Some("#E6E9EF"),
)
